<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% block content %}

<div class="container" id="contenedor">
	<p class="text-center h3 mb-4">{% block form_title %}{% endblock %}</p>
	<form id="formulario">
		<div
			class="d-flex flex-column gap-3 justify-content-center align-items-center"
		>
			<div class="col-4">
				<label class="form-label" for="nombre">Nombre</label>
				<input
					id="nombre"
					name="nombre"
					type="text"
					class="form-control"
					placeholder="Inserte su nombre de usuario"
					required
				/>
			</div>

			<div
				class="alert alert-danger"
				style="display: none"
				role="alert"
				data-for="nombre"
			></div>
		</div>
		<div
			class="d-flex flex-column gap-3 justify-content-center align-items-center"
		>
			<div class="col-4">
				<label class="form-label" for="contrasena">Contraseña</label>
				<input
					id="contrasena"
					name="contrasena"
					type="password"
					class="form-control"
					placeholder="Inserte contraseña"
					required
				/>
			</div>

			<div
				class="alert alert-danger"
				style="display: none"
				role="alert"
				data-for="contrasena"
			></div>
		</div>
		<div class="text-center m-2">{% block signlink %}{% endblock %}</div>
		<div class="d-flex flex-row justify-content-center align-items-center">
			<div class="col-4 mt-4 d-flex justify-content-center">
				<input
					type="submit"
					id="iniciarSesion"
					class="btn btn-primary"
					value="Iniciar sesión"
				/>
			</div>
		</div>
	</form>
</div>

<script>
	function accessOrAggregateUser(url, method, redirect = "/") {
		let alertError;

		$(document).ready(function () {
			$("#formulario").submit(async function (e) {
				e.preventDefault();

				const body = new FormData(e.target);

				alertError?.hide();

				try {
					const res = await fetch(url, {
						method,
						body,
					});

					const data = await res.json();

					if (!res.ok) {
						const error = new Error();
						error.message = {
							reason: data.error.message,
							path: data.error.path,
							code: res.status,
						};

						throw error;
					}

					window.location.href = redirect;
				} catch ({ message: { reason, path, code } }) {
					alertError = $(`[data-for='${path}']`);
					alertError.text(reason);
					alertError.show();
				}
			});
		});
	}
</script>

{% block form_script %} {% endblock %} {% endblock %}
